.radio-button input[type="radio"] {
  opacity: 0;
  width: 0;
}
.radio-button label {
  display: inline-block;
  background-color: #f9f6f6fb;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 1px solid #666;
  border-radius: 4px;
  margin-right: 10px;
}

.radio-button label:hover {
  background-color: #b1e3c1;
}

.radio-button input[type="radio"]:checked + label {
  background-color: rgb(112, 216, 145);
  border-color: #666;
}
