.side-bar-component {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*************************/
/***** Side Bar Main *****/
/*************************/

.side-bar-main {
  flex: 5;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 500px;
  border-radius: 15px;
  margin: 15px 20px;

  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(44, 44, 45, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.side-bar-logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.2rem;
  margin-left: 30px;
}

.side-bar-list {
  flex: 7;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0px 0px 10px 10px;
}

/****************************/
/***** Side Bar Footer ******/
/***************************/

.side-bar-footer {
  flex: 1;
}
