.map-area{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.map-area > img{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 90px;
    right: 80px;
}